* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #46789D;
    padding-bottom: 20px;
    padding-top: 20px;

}

.NotesApp {
    margin-left: 28%;
    color: white;
    font-weight: bolder;
    font-size: 35px;
}

.AppNotes {

    margin-left: 28%;
    color: white;
    font-family: Arial;


}

/* Home Css Start */
.Home-Header {
    /* height: 50%; */
    background-color: #FAF9F6;
    padding-top: 15px;
    padding-bottom: 15px
}

.home {
    margin-left: 28%;
    color: black;
    cursor: pointer;
    max-width: fit-content;
}

.home:hover {
    color: red;
}

/* Form Css Start */
.form-container {
    margin-top: 30px;
    margin-left: 28%;
    background-color: white;
}

.Form {
    max-width: 600px;
    display: flex;
    font-size: 12px;
    flex-direction: column;
    gap: 25px;


    /* border-radius: 6px solid #FFFF; */
}

.Form input {
    padding: 10px;
    height: 25px;
    border-radius: 8px;
    outline: none;
    border: 1px solid lightgray;



}


.Form textarea {
    padding: 10px;
    resize: none;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    border: 1px solid lightgray;


}

::placeholder {
    color: lightgray;
    font-size: 15px;
}

/* Blue-Btn Css Start */
.blue-btn {
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* height: 40px; */
    background-color: #46789D;
    color: white;
    /* margin-left: 9%; */
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 600px;
    font-family: sans-serif;
    font-size: medium;
    cursor: pointer;

}

/* Create Pages Css Start */
.Main-container {
    width: 100%;
    height: 50%;
    background-color: #FAF9F6;
    padding-top: 15px;
    padding-bottom: 15px
}

.create-Form {
    max-width: 600px;
    font-size: 12px;
    margin-left: 28%;

}

.Main-container input {
    padding: 10px;
    height: 25px;
    border-radius: 8px;
    outline: none;
    border: 1px solid lightgray;
    border: none;
}

/* select option css start */
.options {

    width: 200px;
    height: 44px;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
}

.Span-Tag {
    /* width: 100%; */
    height: 50%;
    margin-left: 45%;
    padding-top: 30px;
    font-size: 20px;
}

/* Text Area Css */
/* #node-container{
    width: 600px;
    padding: 60px;
    resize: none;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    margin-left: 28%;
    border: 1px solid lightgray; 
    cursor: pointer; 
    margin-top: 40px;
} */





#notes-list {
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
}

.note {
    background-color: #f0f8ff;
    border: 1px solid #ccc;

    padding: 15px;
    margin-bottom: 15px;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
}

.note h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.note p {
    margin-bottom: 0;
    color: #555;
}

.no-notes {
    text-align: center;
    font-size: 18px;
    color: #121212;
    margin-top: 10px;
}







.Update {
    float: right;
    /* display: flex
; */
    margin-left: 500px;
    margin-top: -145px;
}


.anchor{
    cursor: pointer;
}













/* Create Button Css */

.Create-btn {
    width: 110px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #46789D;
    color: white;
    margin-left: 28%;
    border-radius: 5px;
    border: none;
    font-weight: 800px;
    font-family: sans-serif;
    font-size: medium;
    cursor: pointer;
    margin-top: 2%;
}